@charset "ISO-8859-1";

.banner {
	background-color:gray;
	color:white;
	font-family :arial;
	font-size :20pt;
}

.heading {
	background-color: navy;
	color:white;
	font-weight:bold;
}

.menu {
	background-color:silver;
	font-family : verdana;
	font-size :12pt;
	font-weight : bold; 
	padding-top:10px;
	padding-bottom:10px;
}

